<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/list.css') }}">
    <title>List</title>

    <!-- These 2 lines are all that is needed to activate pyscript -->
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>

</head>
<body>
    <nav>
        <p id="info"><a id="home_link" href={{url_for('main.index')}}>Home</a>
        These are all the models that the community has uploaded</p>
    </nav>
    <p id="list_title">Community Models:</p>
    <ul>
        {% for file in files %}
        <li><a class="list_name" href="{{ url_for('main.show', stl_name=file.name) }}">{{ file.name }}</a></li>
        {% endfor %}
    </ul>


</body>
</html>